CLASSIFIER_PATH=models/classifier/best_model.pt
SCORER_PATH=models/form_scorer.pkl
SCALER_PATH=data/processed/sequences/scaler.pkl
LE_PATH=data/processed/sequences/label_encoder.pkl
MAX_VIDEO_SIZE_MB=200
MLFLOW_TRACKING_URI=http://localhost:5000
API_URL=http://localhost:8000
